<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sd.batch.mapper.extend.ChannelOrderHistExtendMapper" >
	<sql id="Base_Column_List" >
	    ORDER_SEQ_NBR, TRANS_DATE, PAYER_NAME, TRANS_AMT, CHANNEL_FEE_AMT, CHANNEL_CODE, 
	    PLAT_SEQ_NBR, DOWN_SEQ_NBR, RETURN_CODE, RETURN_MSG, MER_NO, TRANS_TIME, CHECK_DATE, 
	    CHECK_STATUS, ORDER_STATUS, CRT_DATE_TIME, DATE_LAST_MAINT
	</sql>
    <insert id="insertChannelOrderHistFromPreCheck" parameterType="java.lang.String" >
	   	insert into CHANNEL_ORDER_HIST (    
	        <include refid="Base_Column_List" />
		)
	    select 
	    <include refid="Base_Column_List" />
	    from CHANNEL_ORDER_PRE_CHECK
	    where CHECK_STATUS = #{checkStatus,jdbcType=VARCHAR}
    </insert>
</mapper>