<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sd.batch.mapper.extend.ChannelMerCheckExtendMapper" >
  <insert id="insertChannelMerCheckFromPreCheck" >
    insert into CHANNEL_MER_CHECK (ORDER_SEQ_NBR, TRANS_DATE, PAYER_NAME, 
      TRANS_AMT, CHANNEL_FEE_AMT, CHANNEL_CODE, 
      PLAT_SEQ_NBR, DOWN_SEQ_NBR, RETURN_CODE, 
      RETURN_MSG, MER_NO, TRANS_TIME, 
      CHECK_DATE, CHECK_STATUS, ORDER_STATUS, 
      CRT_DATE_TIME, DATE_LASTMAINT)
    values (select ORDER_SEQ_NBR, TRANS_DATE, PAYER_NAME, TRANS_AMT, 
      CHANNEL_FEE_AMT, CHANNEL_CODE, PLAT_SEQ_NBR, DOWN_SEQ_NBR, RETURN_CODE, 
      RETURN_MSG, MER_NO, TRANS_TIME, CHECK_DATE, CHECK_STATUS,  ORDER_STATUS, 
      SYSDATE, SYSDATE from CHANNEL_ORDER_PRE_CHECK where CHECK_STATUS='2')
  </insert>
</mapper>