<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sd.dao.mapper.DownorderMapper">
  <resultMap id="BaseResultMap" type="com.sd.dto.generate.Downorder">
    <id column="ORDERSEQNBR" jdbcType="VARCHAR" property="orderseqnbr" />
    <id column="TRANSDATE" jdbcType="DATE" property="transdate" />
    <result column="PAYERNAME" jdbcType="VARCHAR" property="payername" />
    <result column="TRANSAMT" jdbcType="DECIMAL" property="transamt" />
    <result column="CHANNELFEEAMT" jdbcType="DECIMAL" property="channelfeeamt" />
    <result column="CHANNELCODE" jdbcType="VARCHAR" property="channelcode" />
    <result column="PLATSEQNBR" jdbcType="VARCHAR" property="platseqnbr" />
    <result column="DOWNSEQNBR" jdbcType="VARCHAR" property="downseqnbr" />
    <result column="RETURNCODE" jdbcType="VARCHAR" property="returncode" />
    <result column="RETURNMSG" jdbcType="VARCHAR" property="returnmsg" />
    <result column="MERNO" jdbcType="VARCHAR" property="merno" />
    <result column="TRANSTIME" jdbcType="DATE" property="transtime" />
    <result column="CHECKDATE" jdbcType="DATE" property="checkdate" />
    <result column="CHECKSTATUS" jdbcType="VARCHAR" property="checkstatus" />
    <result column="ORDERSTATUS" jdbcType="VARCHAR" property="orderstatus" />
    <result column="CRTDATETIME" jdbcType="TIMESTAMP" property="crtdatetime" />
    <result column="DATELASTMAINT" jdbcType="TIMESTAMP" property="datelastmaint" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ORDERSEQNBR, TRANSDATE, PAYERNAME, TRANSAMT, CHANNELFEEAMT, CHANNELCODE, PLATSEQNBR, 
    DOWNSEQNBR, RETURNCODE, RETURNMSG, MERNO, TRANSTIME, CHECKDATE, CHECKSTATUS, ORDERSTATUS, 
    CRTDATETIME, DATELASTMAINT
  </sql>
  <select id="selectByExample" parameterType="com.sd.dto.generate.DownorderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DOWNORDER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.sd.dto.generate.DownorderKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DOWNORDER
    where ORDERSEQNBR = #{orderseqnbr,jdbcType=VARCHAR}
      and TRANSDATE = #{transdate,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sd.dto.generate.DownorderKey">
    delete from DOWNORDER
    where ORDERSEQNBR = #{orderseqnbr,jdbcType=VARCHAR}
      and TRANSDATE = #{transdate,jdbcType=DATE}
  </delete>
  <delete id="deleteByExample" parameterType="com.sd.dto.generate.DownorderExample">
    delete from DOWNORDER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sd.dto.generate.Downorder">
    insert into DOWNORDER (ORDERSEQNBR, TRANSDATE, PAYERNAME, 
      TRANSAMT, CHANNELFEEAMT, CHANNELCODE, 
      PLATSEQNBR, DOWNSEQNBR, RETURNCODE, 
      RETURNMSG, MERNO, TRANSTIME, 
      CHECKDATE, CHECKSTATUS, ORDERSTATUS, 
      CRTDATETIME, DATELASTMAINT)
    values (#{orderseqnbr,jdbcType=VARCHAR}, #{transdate,jdbcType=DATE}, #{payername,jdbcType=VARCHAR}, 
      #{transamt,jdbcType=DECIMAL}, #{channelfeeamt,jdbcType=DECIMAL}, #{channelcode,jdbcType=VARCHAR}, 
      #{platseqnbr,jdbcType=VARCHAR}, #{downseqnbr,jdbcType=VARCHAR}, #{returncode,jdbcType=VARCHAR}, 
      #{returnmsg,jdbcType=VARCHAR}, #{merno,jdbcType=VARCHAR}, #{transtime,jdbcType=DATE}, 
      #{checkdate,jdbcType=DATE}, #{checkstatus,jdbcType=VARCHAR}, #{orderstatus,jdbcType=VARCHAR}, 
      #{crtdatetime,jdbcType=TIMESTAMP}, #{datelastmaint,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sd.dto.generate.Downorder">
    insert into DOWNORDER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderseqnbr != null">
        ORDERSEQNBR,
      </if>
      <if test="transdate != null">
        TRANSDATE,
      </if>
      <if test="payername != null">
        PAYERNAME,
      </if>
      <if test="transamt != null">
        TRANSAMT,
      </if>
      <if test="channelfeeamt != null">
        CHANNELFEEAMT,
      </if>
      <if test="channelcode != null">
        CHANNELCODE,
      </if>
      <if test="platseqnbr != null">
        PLATSEQNBR,
      </if>
      <if test="downseqnbr != null">
        DOWNSEQNBR,
      </if>
      <if test="returncode != null">
        RETURNCODE,
      </if>
      <if test="returnmsg != null">
        RETURNMSG,
      </if>
      <if test="merno != null">
        MERNO,
      </if>
      <if test="transtime != null">
        TRANSTIME,
      </if>
      <if test="checkdate != null">
        CHECKDATE,
      </if>
      <if test="checkstatus != null">
        CHECKSTATUS,
      </if>
      <if test="orderstatus != null">
        ORDERSTATUS,
      </if>
      <if test="crtdatetime != null">
        CRTDATETIME,
      </if>
      <if test="datelastmaint != null">
        DATELASTMAINT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderseqnbr != null">
        #{orderseqnbr,jdbcType=VARCHAR},
      </if>
      <if test="transdate != null">
        #{transdate,jdbcType=DATE},
      </if>
      <if test="payername != null">
        #{payername,jdbcType=VARCHAR},
      </if>
      <if test="transamt != null">
        #{transamt,jdbcType=DECIMAL},
      </if>
      <if test="channelfeeamt != null">
        #{channelfeeamt,jdbcType=DECIMAL},
      </if>
      <if test="channelcode != null">
        #{channelcode,jdbcType=VARCHAR},
      </if>
      <if test="platseqnbr != null">
        #{platseqnbr,jdbcType=VARCHAR},
      </if>
      <if test="downseqnbr != null">
        #{downseqnbr,jdbcType=VARCHAR},
      </if>
      <if test="returncode != null">
        #{returncode,jdbcType=VARCHAR},
      </if>
      <if test="returnmsg != null">
        #{returnmsg,jdbcType=VARCHAR},
      </if>
      <if test="merno != null">
        #{merno,jdbcType=VARCHAR},
      </if>
      <if test="transtime != null">
        #{transtime,jdbcType=DATE},
      </if>
      <if test="checkdate != null">
        #{checkdate,jdbcType=DATE},
      </if>
      <if test="checkstatus != null">
        #{checkstatus,jdbcType=VARCHAR},
      </if>
      <if test="orderstatus != null">
        #{orderstatus,jdbcType=VARCHAR},
      </if>
      <if test="crtdatetime != null">
        #{crtdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="datelastmaint != null">
        #{datelastmaint,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sd.dto.generate.DownorderExample" resultType="java.lang.Long">
    select count(*) from DOWNORDER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update DOWNORDER
    <set>
      <if test="record.orderseqnbr != null">
        ORDERSEQNBR = #{record.orderseqnbr,jdbcType=VARCHAR},
      </if>
      <if test="record.transdate != null">
        TRANSDATE = #{record.transdate,jdbcType=DATE},
      </if>
      <if test="record.payername != null">
        PAYERNAME = #{record.payername,jdbcType=VARCHAR},
      </if>
      <if test="record.transamt != null">
        TRANSAMT = #{record.transamt,jdbcType=DECIMAL},
      </if>
      <if test="record.channelfeeamt != null">
        CHANNELFEEAMT = #{record.channelfeeamt,jdbcType=DECIMAL},
      </if>
      <if test="record.channelcode != null">
        CHANNELCODE = #{record.channelcode,jdbcType=VARCHAR},
      </if>
      <if test="record.platseqnbr != null">
        PLATSEQNBR = #{record.platseqnbr,jdbcType=VARCHAR},
      </if>
      <if test="record.downseqnbr != null">
        DOWNSEQNBR = #{record.downseqnbr,jdbcType=VARCHAR},
      </if>
      <if test="record.returncode != null">
        RETURNCODE = #{record.returncode,jdbcType=VARCHAR},
      </if>
      <if test="record.returnmsg != null">
        RETURNMSG = #{record.returnmsg,jdbcType=VARCHAR},
      </if>
      <if test="record.merno != null">
        MERNO = #{record.merno,jdbcType=VARCHAR},
      </if>
      <if test="record.transtime != null">
        TRANSTIME = #{record.transtime,jdbcType=DATE},
      </if>
      <if test="record.checkdate != null">
        CHECKDATE = #{record.checkdate,jdbcType=DATE},
      </if>
      <if test="record.checkstatus != null">
        CHECKSTATUS = #{record.checkstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.orderstatus != null">
        ORDERSTATUS = #{record.orderstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.crtdatetime != null">
        CRTDATETIME = #{record.crtdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.datelastmaint != null">
        DATELASTMAINT = #{record.datelastmaint,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update DOWNORDER
    set ORDERSEQNBR = #{record.orderseqnbr,jdbcType=VARCHAR},
      TRANSDATE = #{record.transdate,jdbcType=DATE},
      PAYERNAME = #{record.payername,jdbcType=VARCHAR},
      TRANSAMT = #{record.transamt,jdbcType=DECIMAL},
      CHANNELFEEAMT = #{record.channelfeeamt,jdbcType=DECIMAL},
      CHANNELCODE = #{record.channelcode,jdbcType=VARCHAR},
      PLATSEQNBR = #{record.platseqnbr,jdbcType=VARCHAR},
      DOWNSEQNBR = #{record.downseqnbr,jdbcType=VARCHAR},
      RETURNCODE = #{record.returncode,jdbcType=VARCHAR},
      RETURNMSG = #{record.returnmsg,jdbcType=VARCHAR},
      MERNO = #{record.merno,jdbcType=VARCHAR},
      TRANSTIME = #{record.transtime,jdbcType=DATE},
      CHECKDATE = #{record.checkdate,jdbcType=DATE},
      CHECKSTATUS = #{record.checkstatus,jdbcType=VARCHAR},
      ORDERSTATUS = #{record.orderstatus,jdbcType=VARCHAR},
      CRTDATETIME = #{record.crtdatetime,jdbcType=TIMESTAMP},
      DATELASTMAINT = #{record.datelastmaint,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sd.dto.generate.Downorder">
    update DOWNORDER
    <set>
      <if test="payername != null">
        PAYERNAME = #{payername,jdbcType=VARCHAR},
      </if>
      <if test="transamt != null">
        TRANSAMT = #{transamt,jdbcType=DECIMAL},
      </if>
      <if test="channelfeeamt != null">
        CHANNELFEEAMT = #{channelfeeamt,jdbcType=DECIMAL},
      </if>
      <if test="channelcode != null">
        CHANNELCODE = #{channelcode,jdbcType=VARCHAR},
      </if>
      <if test="platseqnbr != null">
        PLATSEQNBR = #{platseqnbr,jdbcType=VARCHAR},
      </if>
      <if test="downseqnbr != null">
        DOWNSEQNBR = #{downseqnbr,jdbcType=VARCHAR},
      </if>
      <if test="returncode != null">
        RETURNCODE = #{returncode,jdbcType=VARCHAR},
      </if>
      <if test="returnmsg != null">
        RETURNMSG = #{returnmsg,jdbcType=VARCHAR},
      </if>
      <if test="merno != null">
        MERNO = #{merno,jdbcType=VARCHAR},
      </if>
      <if test="transtime != null">
        TRANSTIME = #{transtime,jdbcType=DATE},
      </if>
      <if test="checkdate != null">
        CHECKDATE = #{checkdate,jdbcType=DATE},
      </if>
      <if test="checkstatus != null">
        CHECKSTATUS = #{checkstatus,jdbcType=VARCHAR},
      </if>
      <if test="orderstatus != null">
        ORDERSTATUS = #{orderstatus,jdbcType=VARCHAR},
      </if>
      <if test="crtdatetime != null">
        CRTDATETIME = #{crtdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="datelastmaint != null">
        DATELASTMAINT = #{datelastmaint,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ORDERSEQNBR = #{orderseqnbr,jdbcType=VARCHAR}
      and TRANSDATE = #{transdate,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sd.dto.generate.Downorder">
    update DOWNORDER
    set PAYERNAME = #{payername,jdbcType=VARCHAR},
      TRANSAMT = #{transamt,jdbcType=DECIMAL},
      CHANNELFEEAMT = #{channelfeeamt,jdbcType=DECIMAL},
      CHANNELCODE = #{channelcode,jdbcType=VARCHAR},
      PLATSEQNBR = #{platseqnbr,jdbcType=VARCHAR},
      DOWNSEQNBR = #{downseqnbr,jdbcType=VARCHAR},
      RETURNCODE = #{returncode,jdbcType=VARCHAR},
      RETURNMSG = #{returnmsg,jdbcType=VARCHAR},
      MERNO = #{merno,jdbcType=VARCHAR},
      TRANSTIME = #{transtime,jdbcType=DATE},
      CHECKDATE = #{checkdate,jdbcType=DATE},
      CHECKSTATUS = #{checkstatus,jdbcType=VARCHAR},
      ORDERSTATUS = #{orderstatus,jdbcType=VARCHAR},
      CRTDATETIME = #{crtdatetime,jdbcType=TIMESTAMP},
      DATELASTMAINT = #{datelastmaint,jdbcType=TIMESTAMP}
    where ORDERSEQNBR = #{orderseqnbr,jdbcType=VARCHAR}
      and TRANSDATE = #{transdate,jdbcType=DATE}
  </update>
</mapper>