<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sd.dao.mapper.SysInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sd.dto.generate.SysInfo" >
    <id column="SYS_NBR" property="sysNbr" jdbcType="VARCHAR" />
    <result column="PRE_DATE" property="preDate" jdbcType="DATE" />
    <result column="NOW_DATE" property="nowDate" jdbcType="DATE" />
    <result column="NEXT_DATE" property="nextDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SYS_NBR, PRE_DATE, NOW_DATE, NEXT_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sd.dto.generate.SysInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_INFO
    where SYS_NBR = #{sysNbr,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_INFO
    where SYS_NBR = #{sysNbr,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sd.dto.generate.SysInfoExample" >
    delete from SYS_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sd.dto.generate.SysInfo" >
    insert into SYS_INFO (SYS_NBR, PRE_DATE, NOW_DATE, 
      NEXT_DATE)
    values (#{sysNbr,jdbcType=VARCHAR}, #{preDate,jdbcType=DATE}, #{nowDate,jdbcType=DATE}, 
      #{nextDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.sd.dto.generate.SysInfo" >
    insert into SYS_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysNbr != null" >
        SYS_NBR,
      </if>
      <if test="preDate != null" >
        PRE_DATE,
      </if>
      <if test="nowDate != null" >
        NOW_DATE,
      </if>
      <if test="nextDate != null" >
        NEXT_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysNbr != null" >
        #{sysNbr,jdbcType=VARCHAR},
      </if>
      <if test="preDate != null" >
        #{preDate,jdbcType=DATE},
      </if>
      <if test="nowDate != null" >
        #{nowDate,jdbcType=DATE},
      </if>
      <if test="nextDate != null" >
        #{nextDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sd.dto.generate.SysInfoExample" resultType="java.lang.Integer" >
    select count(*) from SYS_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_INFO
    <set >
      <if test="record.sysNbr != null" >
        SYS_NBR = #{record.sysNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.preDate != null" >
        PRE_DATE = #{record.preDate,jdbcType=DATE},
      </if>
      <if test="record.nowDate != null" >
        NOW_DATE = #{record.nowDate,jdbcType=DATE},
      </if>
      <if test="record.nextDate != null" >
        NEXT_DATE = #{record.nextDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_INFO
    set SYS_NBR = #{record.sysNbr,jdbcType=VARCHAR},
      PRE_DATE = #{record.preDate,jdbcType=DATE},
      NOW_DATE = #{record.nowDate,jdbcType=DATE},
      NEXT_DATE = #{record.nextDate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sd.dto.generate.SysInfo" >
    update SYS_INFO
    <set >
      <if test="preDate != null" >
        PRE_DATE = #{preDate,jdbcType=DATE},
      </if>
      <if test="nowDate != null" >
        NOW_DATE = #{nowDate,jdbcType=DATE},
      </if>
      <if test="nextDate != null" >
        NEXT_DATE = #{nextDate,jdbcType=DATE},
      </if>
    </set>
    where SYS_NBR = #{sysNbr,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sd.dto.generate.SysInfo" >
    update SYS_INFO
    set PRE_DATE = #{preDate,jdbcType=DATE},
      NOW_DATE = #{nowDate,jdbcType=DATE},
      NEXT_DATE = #{nextDate,jdbcType=DATE}
    where SYS_NBR = #{sysNbr,jdbcType=VARCHAR}
  </update>
</mapper>